.price {
  margin: 0 0 5rem 0;
}
.price__contaner {
  max-width: 82rem;
  margin: 0 auto;
}
.price__title {
  text-align: center;
  margin: 0 0 1rem 0;
  font-size: 1.9rem;
  line-height: 2.1rem;
  font-weight: 600;
}
.price__subtitle {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin: 0 0 3.7rem 0;
}
.price__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  
}
.price__info {
  padding: 5rem 0;
  border: 2px solid var(--black);
  
}
.price__info:hover{
  border: 1px solid var(--yellow);
}

.price__block{
  max-width: 250px;
  margin: 0 auto;
}
.price__room {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.9rem;
  margin: 0 0 3.7rem 0;
}
.price__van {
  text-align: center;
  margin: 0 0 1.5rem 0;
}
.price__truck {
  text-align: center;
  margin: 0 0 1.5rem 0;
}
.price__time {
  text-align: center;
  margin: 0 0 1.5rem 0;
}
.price__money {
  text-align: center;
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 2.5rem;
  margin: 0 0 3.3rem 0;
}
.price__buttom {
  margin: 0 auto;
  border: 1px solid var(--black);
  background-color: var(--yellow);
  padding: 0.8rem 4.8rem;
  max-width: 250px;
}
.price__buttom span {
    display: flex;
    justify-content: center;
}

.price__all-price {
  display: none;
}
.price__registr {
  display: none;
}
@media(max-width: 760px) {
  .price__content {
    grid-template-columns: 1fr;
  }
  #price_one {
    display: none;
  }
  #price__three {
    display: none;
  }
  .price__subtitle{
    margin: 0 auto;
  }
  .price__room{
    margin: 0 0 2rem 0;
  }
  .price__info{
    border: none;
    padding: 2rem 0;
  }
  .price__money{
    margin: 0 0 1rem 0;
  }
  .price__buttom{
    margin: 0 0 1.5rem 0;
  }
  .price__buttom span {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
  .price__all-price{
    display: block;
    text-align: center;
    margin: 0 0 0.3rem 0;
  }
  .price__all-price span{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 131.4%;
  }
  .price__registr {
    display:block;
    margin: 0 auto;
    max-width: 9.2rem;
    border: 1px solid var(--black);
    background-color: var(--black);
  }
  .price__contaner {
    padding: 0 1rem;
  }
}


@media (max-width:450px) {
  .price {
    margin: 0 auto;
  }
}
