.steps {
  margin: 0 0 5rem 0;
}
.steps__contaner {
  max-width: 69rem;
  margin: 0 auto;
}
.steps__title {
  text-align: center;
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 2.3rem;
  margin: 0 0 4.1rem 0;
}
.steps__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.step {
  display: flex;
  gap: 2rem;
}
.step__number {
  font-weight: 300;
  font-size: 3.1rem;
  line-height: 3.8rem;
  text-shadow: 0.1rem 0 var(--yellow);
}
.step__title {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 0 0 1rem 0;
}
.step__vect {
  display: none;
}

@media(max-width: 900px) {
  .steps__content {
    grid-template-columns: 1fr;
  }
  .step__info {
    padding: 0 20%;
  }
  .step {
    display: flex;
    margin: 0 0 3rem 0;
  }
  .step div {
    padding: 1rem 0 0 0;
  }
  .step__number {
    font-size: 5.6rem;
    line-height: 6.8rem;
  }
  .steps__block {
    display: inline-block;
  }
}
@media (max-width:450px) {
  .step__text {
    display: none;
  }
  .step__info {
    padding: 0;
  }
  .step__number {
    font-size: 3.2rem;
  }
  .step div {
    padding: 1.7rem 0 0 0;
  }
  .step__title {
    font-size: 1rem;
  }
  .step {
    display: flex;
    justify-content: space-between;
    gap: 0.4rem;
  }
  .step__vect {
    display: flex;
    align-items: center;
  }
  .steps__contaner {
    padding: 0 1rem;
  }
}
@media (max-width:400px) {
  .steps {
    margin: 0 auto;
    padding: 3rem 0;
  }
  .step {
    margin: 0 auto;
  }
  .step__title {
    text-align: left;
  }
}